<ActionBar title="Book" icon="" class="action-bar">
</ActionBar>
<StackLayout class="form">
   <StackLayout class="input-field" >
      <StackLayout orientation="vertical" class="form-book">
         <TextField [(ngModel)]="model.name" hint="name" class="input-active" ></TextField>
         <validator property="name" [listErrors]="listErrors"></validator>
         <TextField [(ngModel)]="model.author" hint="author"  class="input-active" secure="true"></TextField>
         <validator property="author"  [listErrors]="listErrors"></validator>
         <TextField [(ngModel)]="model.pages" hint="pages"  class="input-active" secure="true"></TextField>
         <validator property="pages"  [listErrors]="listErrors"></validator>
         <Button text="Save" (tap)="validate()" class="btn-simple"></Button>
      </StackLayout>
   </StackLayout>
</StackLayout>


