<ActionBar title="NativeScript input validator" icon="" class="action-bar">
</ActionBar>
<StackLayout class="form">
   <StackLayout class="input-field" >
      <StackLayout orientation="vertical" class="form-login">
         <TextField [(ngModel)]="model.email" hint="email" class="input-active"></TextField>
         <validator property="email" [listErrors]="listErrors"></validator>
         <TextField [(ngModel)]="model.password" hint="password"  class="input-active" secure="true"></TextField>
         <validator property="password"  [listErrors]="listErrors"></validator>
         <Button text="LOGIN" (tap)="validate()" class="btn-simple"></Button>
      </StackLayout>
   </StackLayout>
</StackLayout>


